<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>
<body>

    <h1>URL Shortener</h1>


    <div>
        <form method="POST" action="/api/url">
            <label>Enter your original URL</label><br><br>
            <input 
                type="text" 
                name="url" 
                placeholder="https://example.com"
                required
            >
            <br><br>
            <button type="submit">Generate</button>
        </form>
    </div>


    <% if (locals.urls && urls.length > 0) { %>
    <table >
        <thead>
            <tr>
                <th>S. No</th>
                <th>Short URL</th>
                <th>Original URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% urls.forEach((url, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td>
                        <a href="/api/url/<%= url.shortUrl %>" target="_blank">
                            <%= url.shortUrl %>
                        </a>
                    </td>
                    <td><%= url.orginalUrl %></td>
                    <td><%= url.visitHistory.length %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>



</body>
</html>
